<div class="top-row pl-4 navbar navbar-dark">
    <img class="logoimg" src="logo.png">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" >
                <span class="oi oi-home" aria-hidden="true"></span> الرئيسية
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-menu" aria-hidden="true"></span> البيانات الاساسية
            </NavLink>
           
        <ul>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/AllPoints/MyPoints">
                    <span class="oi oi-list" aria-hidden="true"></span> النقاط
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/AllCaptain/CaptainOrOrg">
                    <span class="oi oi-person" aria-hidden="true"></span>الكباتن/الهيئات
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/AllParticipants/MyParticipant">
                    <span class="oi oi-people" aria-hidden="true"></span> المشاركين
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/AllRacing/MyRacing">
                    <span class="oi oi-signal" aria-hidden="true"></span> السباقات
                </NavLink>
            </li>
        </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-menu" aria-hidden="true"></span> البطولات
            </NavLink>         
            <ul>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/AllChampionship/GenerateChampionShip">
                        <span class="oi oi-star" aria-hidden="true"></span> البطولات
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/AllChampionship/MyResult">
                        <span class="oi oi-star" aria-hidden="true"></span> نتائج السباقات الحرة
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/AllChampionship/MyResultFins">
                        <span class="oi oi-star" aria-hidden="true"></span>  نتائج السباقات زعانف
                    </NavLink>
                </li>
                
            </ul>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool MasterDataSubMenu;
    private bool ChampionShipSubMenu;    
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
